<div class="row" style="margin: 0px;">

  <div class="col-sm-3">
    <div class="panel panel-default" id="cart">
      <div class="panel-heading">
        <h3 class="panel-title">Авторы</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% Author.all.each do |a| %>
            <li><b><%= a.name %></b></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
        <center><h1> All books </h1></center>
        <hr>
        <% Book.all.each do |book| %>

         <div class="col-sm-6 product-item ">
          <div class="panel panel-default" style="border-radius: 28px;">
            <div class="panel-body" style="border-radius: 28px; border: 1px solid silver;">
            <!-- rgba(10, 40, 109, 0.68) -->
              <center>
            	<% if book.comments.count == 0 %>
	            	<fieldset class="rating" style="margin-top: 16px;">
  	          		У книги нету рейтинга <br />
    						</fieldset>
            	<% else %>
              	 <% quantity = book.comments.sum(:rating).to_f / book.comments.size %>
              	 <% quantity = quantity.to_i %>
              	<fieldset class="rating">
				         <% quantity.times do %>  
				          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
				         <% end %>
				        </fieldset>
	       		 	<% end %>
	       		 	<br />
              <h3><%= book.name %></h3>
              <p>Опубликовал <b><%= book.user.name %></b></p>
              <%= link_to 'Посмотреть книгу', book_path(book.id), class: 'btn btn-success' %>
			  <p></p>
              <div class="img_container">
			  <%= image_tag book.image.url(:medium), style: 'border-radius: 15px;' %>
              </div>
             </center>
            </div>
          </div>
        </div>

        <% end %>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="panel panel-default" id="cart">
        <div class="panel-heading">
          <h3 class="panel-title">Категории</h3>
        </div>
        <div class="panel-body">
          <% Category.all.each do |a| %>
            <li><b><%= a.name %></b></li>
          <% end %>
        </div>
      </div>
  </div>
</div>