<div>
<%= image_tag @book.image.url(:large), style: 'border-radius: 15px;', style: 'float: left; margin-right: 20px; margin-left: 40px;' %>
  <div class="well" style="width: 60%; margin: 20px; margin-left: auto; background-color: rgba(245, 245, 245, 0); border: 1px solid rgba(0, 0, 0, 0.25);">
  	<h5>
      <hr>
      <p>Название книги: <b class="post-meta" style="font-size: 20px;"><i><%= @book.name %></i></b></p>
      <hr>
    	<p>Description: <b><i class="post-meta"><%= @book.desc %></i></b></p>
      <% if @book.author.nil? %>
        <p>Author:  <i><b>Unknown</b></i></p>
      <% else %>
        <p>Author:  <i><b><%= @book.author.name %> <%= @book.author.surname %></b></i></p>
    	<% end %>
      <% if @book.category.nil? %>
        <p>Category:  <i><b>Unknown</b></i></p>
      <% else %>
        <p>Category:  <i><b><%= @book.category.name %></b></i></p>
      <% end %>
      <% if @book.comments.count == 0 %>
        У этой книги нет оценок 
      <% else %>
        <p>
         <% quantity = @book.comments.sum(:rating).to_f / @book.comments.size %>  
        </p>
  
        <% quantity = quantity.to_i %>
      
        <fieldset class="rating">
         <% quantity.times do %>  
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
         <% end %>
        </fieldset>

      <% end %>
      <hr>
    </h5>
  <hr>
  </div>
</div>

<div>
  <div class="well" style="width: 60%; margin: 20px; margin-left: auto; background-color: rgba(245, 245, 245, 0); border: 1px solid rgba(0, 0, 0, 0.25);">
    <h5>
      <b><i>All comments</i></b>
      <hr>

        <div id="comment-section">
          <ol id="comments">
            <%= render @book.comments %>
          </ol>
          <% if @check.count == 0 %>
            <center>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Оценить
              </button>
            </center>
          <% else %>
          <% end %>
        </div>
    </div>

      <hr>
    </h5>
  <hr>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Вылеташка простаквашка</h4>
      </div>
      <div class="modal-body">
        <%= render 'comments/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>